page-insole {
    ion-content,
    .scroll-content{
        padding: 0 !important;
    }
    background-color: white ;

}


#headd{
  background-color:  white;
}



#A{
    height: 90px;
    width: 10px;
    background-color: deepskyblue;
    margin-left: 30%;
    display: block;
    border-radius: 100px;
    transform: translate(53px,-150px);
    font-size: 20px;
    color: black;
    background: transparent

}



#B{
    height: 70px;
    width: 10px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(-40px,-230px);
    font-size: 20px;
    color: black;
    background: transparent;

}


#C{
    height: 85px;
    width: 45px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(-48px,-550px);
    font-size: 20px;
    color: black;
    background: transparent;


}



#D{
    height: 60px;
    width: 75px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(-6px,-565px);
    font-size: 20px;
    color: black;
    background: transparent;

}


#E{
    height: 80px;
    width: 65px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(35px,-710px);
    font-size: 20px;
    color: black;
    background: transparent;


}


.pro{
    
    margin-right: 10px;
    margin-left: 80px;
    border-radius: 100px;
    background-color: #446F8B;
    font-size: 15px;
    height: 40px;
    transform: translateY(-406px);
    color: white

}
.pro1{
    
    margin-right: 10px;
    margin-left: 89px;
    border-radius: 100px;
    background-color: #446F8B;
    font-size: 15px;
    height: 40px;
    transform: translateY(-406px);
    color: white

}
.pro2{
    
    margin-right: 10px;
    margin-left: 90px;
    border-radius: 100px;
    background-color: #446F8B;
    font-size: 15px;
    height: 40px;
    transform: translateY(-406px);
    color: white

}


#outline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
}


#question{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    line-height: 102px;
    background-color: #446F8B;
    font-size: 10px;
    float: right;
    transform: translate(0px, -450px)
}

#navbutton{
    float: right;
  background-color:  #446F8B;
  width: 20px;
  height: 30px;
  top: 20%;
  position: relative;
}

#overimage{
    display: block;
    width: 160px;
    position: absolute;
    margin-top: 50px;
    transform: translateX(50%);
    
    height: 370px;
    
    
}


#photosize{
     width: 100%;
    height: 90%;
   
}
