page-insole {
    ion-content,
    .scroll-content{
        padding: 0 !important;
    }
    background-color: white ;

}


#headd{
  background-color:  white;
}



#A{
    height: 70px;
    width: 10px;
    background-color: deepskyblue;
    margin-left: 30%;
    display: block;
    border-radius: 100px;
    transform: translate(68px,-140px);
    font-size: 20px;
    color: black;
    background: transparent;

}



#B{
    height: 60px;
    width: 10px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(-37px,-220px);
    font-size: 20px;
    color: black;
    background: transparent;
}


#C{
    height: 55px;
    width: 35px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(-45px,-510px);
    font-size: 20px;
    color: black;
    background: transparent;

}



#D{
    height: 50px;
    width: 25px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(5px,-545px);
    font-size: 20px;
    background: transparent;
    color: black;
}


#E{
    height: 55px;
    width: 35px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(45px,-640px);
    font-size: 20px;
    color: black;
    background: transparent;


}


.pro{
    
    margin-right: 10px;
    margin-left: 80px;
    border-radius: 100px;
    background-color: #446F8B;
    font-size: 15px;
    height: 40px;
    transform: translateY(-312px);
    color: white

}


#outline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
}


#question{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    line-height: 102px;
    background-color: #446F8B;
    font-size: 10px;
    float: right;
    transform: translate(0px, -450px)
}

#navbutton{
    float: right;
  background-color:  #446F8B;
  width: 20px;
  height: 30px;
  top: 20%;
  position: relative;
}

#overimage{
    display: block;
    width: 180px;
    position: absolute;
    margin-top: 20px;
    transform: translateX(40%)
    
    
}


#photosize{
     width: 100%;
    height: 90%;
   
}
