page-insole {
    background-color: white ;

}


#headd{
    background-color: white;
}



#A{
    height: 90px;
    width: 50px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(7px,-120px);
    background: transparent;
    font-size: 30px;
}



#B{
    height: 90px;
    width: 50px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(-35px,-200px);
    background: transparent;
    font-size: 30px;
}


#C{
    height: 100px;
    width: 60px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(-40px,-590px);
    background: transparent;
    font-size: 30px;
}



#D{
    height: 90px;
    width: 40px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(4px,-615px);
    background: transparent;
    font-size: 30px;
}


#E{
    height: 85px;
    width: 60px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    transform: translate(55px,-750px);
    background: transparent;
    font-size: 30px;

}


#pro{
    position: absolute;
bottom: 0px;
}


#outline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

