page-camera-preview {

    ion-content{
        background-color: transparent !important;
      }
   
}

#outline{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

