page-camera-preview {

    ion-content{
        background-color: transparent !important;
      }
   .toolbar-background{
       background: transparent !important;
       border-bottom: solid 0.2px white !important;
   }

   .back-button{
       color: white !important;
   }
   ion-content{
       color: white !important;
   }

   .toolbar-title{
       color: white !important;
   }
}

#outline{
   
    height: 420px;
    width: 40px;
}

#takepicbutton{

  text-align: center;
  background-color: #446F8B;
  height: 40px;
  width: 120px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  color: white;
  
  
}


#nextpagebutton_{

  text-align: center;
  background-color: #446F8B;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  float: right;
}


#takepicbutton{
    position: absolute;
    bottom: 50px;
    right: 0px;
    transform: translate(-100px,40px);
}
