page-home {

}

#firstpage{
    text-align: center
}


#img2{
    height: 300px;
    width: 300px;

}


#text{
    font-size: 20px;
}


#head{
    background-color: #57A5CA;
}


#button{
    transform: translate(31px, 0px);
    
}