page-home {
    background-color: white ;
}

#firstpage{
    text-align: center
}


#img10{
    height: 300px;
    width: 300px;

}


#text{
    font-size: 20px;
}


#head2{
    background-color: #CEFF00;
}


#button{
    display: block;
    text-align: center;
    background-color: #446F8B;
    font-size: 25px;
    color: white;
    margin: 20px auto;
}

#bodycolor7{
    background-color: white;
}