page-second {

}

#secondpage{
    text-align: center
}

#card{
    color:lightblue
}





#Text1{
    transform: translate(100px, -870px)
}


#Text2{
    transform: translate(100px, -790px)
}


#Text3{
    transform: translate(100px, -710px)
}


#Text4{
    transform: translate(100px, -630px)
}


#Text5{
    transform: translate(100px, -550px)
}

