page-second {

}

#secondpage{
    text-align: center
}

#card{
    color:lightblue
}



#shoeimg{
   
   
   
}

#fab{
    transform: translate(330px,50px);
}

#fab1{
    transform: translate(330px,360px)
}
