<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button color="danger" (click)="reset()">
        Reset
      </button>
    </ion-buttons>
    <ion-title>Ermes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="danger" (click)="clear()">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button icon-only color="secondary" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>


<img id="img" src="./assets/imgs/ERMIS.png" >


    <div id="buttona">
  <button id="bu" (click)="captureImage()" *ngIf="!myImage"><div id="ram">Capture Image</div></button>
  </div>

  <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="myImage" *ngIf="myImage"></angular-cropper>
 
  <ion-row *ngIf="myImage">
    <ion-col col-4>
      <button ion-button outline icon-left color="primary" (click)="zoom(true)">
        <ion-icon name="add"></ion-icon> Zoom
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button outline icon-left color="primary" (click)="zoom(false)">
        <ion-icon name="remove"></ion-icon> Zoom
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button outline icon-left (click)="rotate()">
        <ion-icon name="refresh"></ion-icon> 90 deg
      </button>
    </ion-col>
 
  
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(0, -10)">
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
      
    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(0, 10)">
        <ion-icon name="arrow-round-down"></ion-icon>
      </button>

    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(-10, 0)">
        <ion-icon name="arrow-round-back"></ion-icon>

      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(10, 0)">
        <ion-icon name="arrow-round-forward"></ion-icon>

      </button>
    </ion-col>
  </ion-row>
 
  <ion-card *ngIf="croppedImage">
    <ion-card-header>My Result</ion-card-header>
    <ion-card-content>
      <img [src]="croppedImage">
    </ion-card-content>
  </ion-card>
 




     
    <p allign="center"><img src="{{ myphoto }}"></p>
    
    <img src= "{{myPhoto}}">
    
    
    
        <div class="buttons">
    
        <button id="al" (click)="showAlert()">  What Is An Insole </button>
    
      
    
      
        <button  id="alt" (click)="showAlert2()">  Where to find Insole  </button>
      
    
        </div>
    
    
    
        <button *ngIf="showInsole" ion-button full id="G"[navPush]="pushPage">Check Your Insole </button>
    

    
    
    
    
    
    
    








</ion-content>

