page-camera {
  
        background-color: lightblue;
    
}


 #cam{
     text-align: center;
 }


#bu{
  text-align: center;
  background-color: #446F8B;
  height: 220px;
  width: 280px;
  border-radius: 15px;
  transform: translate(0px,20px)
}


#ram{
    transform: translate(0px, -70px);
    color: black;
    font-size: 15px;
}


#buttona{
   text-align: center;
 
}




#al{
    float: left;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;


}

#alt{
    float: right;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;

}

#alerts{
    float: left;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;
}

#alerts1{
    float: right;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;

}


#img{
    max-width:65%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


#cont{
    background-color: #3D3F3C;
}

#title{
    background-color: #3D3F3C;
}


#img2{
    max-width:30%;
    max-height:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0px, -140px)
}


#shoeimg1{
    max-width:27%;
    max-height:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(110px,30px)
}


#insoleimg1{
    max-width:15%;
    max-height:15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-110px,-30px)
}

#insoletxt{
    transform: translate(0px,-21px)
}

#shoetxt{
    transform: translate(0px,-21px);
}

