// page-camera {

// }


 #cam{
     text-align: center;
 }


#bu{
  text-align: center;
  background-color: #F4FF8B;
  height: 220px;
  width: 200px;
  border-radius: 15px
}


#ram{
    transform: translate(0px, -70px);
    color: black
}


#buttona{
   text-align: center;
 
}




#al{
    float: left;
    background-color: #57A5CA;
    height:100px;
    width:50px;
    font-size:10px;
    color:white;
    width:140px;
    white-space:pre;
    border-radius: 18px


    
}

#alt{
    float: right;
    background-color: #57A5CA;
    height:100px;
    width:50px;
    font-size:10px;
    color:white;
    width:140px;
    white-space:pre;
    text-align: center;
    border-radius: 18px

}


#img{
    max-width:40%;
    max-height:8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}