page-camera {
  
        background-color: white;
    
}



#invisible{
    text-align: center;
    background-color: white;
    color: white;
}


#bu{
  text-align: center;
  background-color: #446F8B;
  height: 220px;
  width: 260px;
  border-radius: 15px;
  text-align: center;
  padding: 70px;
  
}


#probu{
    background-color: #446F8B;
    height: 130px;
    width: 42%;
    border-radius: 15px;
    padding: 40px;
    margin-left: 10px;
    display: inline-block;
    top: 50%;

}





#tempdiv{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}




#buttona{
   text-align: center;
 
}

#divpronation{
    position: absolute;
    left: 0;
    top: 53%;
    width: 100%;
    text-align: left;
    font-size: 13px;
    color: white;
    margin-left: 19px;
    right: 0;
}

#trophybutton{
    background-color: #446F8B;
    height: 130px;
    width: 43%;
    border-radius: 15px;
    padding: 40px;
    margin-right: 10px;
    float: right;
    top: 50%;
}

#contestext{
    position: absolute;
    left: 0;
    top: 53%;
    width: 100%;
    text-align: right;
    font-size: 13px;
    color: white;
    margin-left: -54px;
    right: 0;
 
}


#shoerunimg{
    background-color: #446F8B;
    height: 130px;
    width: 43%;
    border-radius: 15px;
    padding: 40px;
    margin-right: 10px;
    float: right;
    top: 50%;
}

#shoerunbutton{
    position: absolute;
    left: 0;
    top: 84%;
    width: 100%;
    text-align: right;
    font-size: 13px;
    color: white;
    margin-left: -18px;
    right: 0;
}

#al{
    float: left;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;


}


#insolebuttonn{
    background-color: #446F8B;
    height: 130px;
    width: 42%;
    border-radius: 15px;
    padding: 40px;
    margin-left: 10px;
    display: inline-block
}

#insoletextt{
    position: absolute;
    left: 0;
    top: 84%;
    width: 100%;
    text-align: left;
    font-size: 13px;
    color: white;
    margin-left: 25px;
    right: 0;
}


#alt{
    float: right;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;

}

#alerts{
    float: left;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;
}

#alerts1{
    float: right;
    width: 40%;
    padding: 40px;
    background-color: #446F8B;
    font-size: 11px;
    margin: 15px;
    border-radius: 12px;

}


#img{
    max-width:65%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


