page-proinfo {
    background-color: white ;

}   

#head2{
    background-color: #446F8B;
}

#bodycolor7{
    background-color: white;
}

#info{
    color: black;
    text-align: justify;
}

#button10{
    display: block;
    text-align: center;
    background-color: #446F8B;
    font-size: 25px;
    color: white;
    margin: 20px auto;
    height: 45px;
   
}