page-proinfo {
    background-color: white ;

}   

#head2{
    background-color: #446F8B;
}

#bodycolor7{
    background-color: white;
}

#info{
    color: black;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
}

#invisible{
    color: white;
}

#headcolor{
    color:white;
}

#headalign1{
    transform: translateX(20px);
}

#button10{
    display: block;
    text-align: center;
    background-color: #446F8B;
    font-size: 25px;
    color: white;
    margin: 20px auto;
    height: 45px;
    

    
   
}



#img10{
    width: 200px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}